.container {
    margin-top: 5%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    font-size: smaller;
    display: block;
    border-top: 10px solid #4aaaa5;
}